*{
	background-color: antiquewhite;
}
p{
	color:rgb(92, 198, 227);
	font-family:Georgia;
	word-wrap: break-word;
}
body{
	background:antiquewhite;
	align-content:center;
	color:teal;
	font-family:Tahoma;
	
}
img{
	max-width: 20%;
	max-height: 20%;
	border-radius: 8px;
	border: 1px solid #ddd;
	background: antiquewhite;
	align-content: center;
}
h3{
	color:rgb(92, 198, 227)
}
h1 {
	text-shadow: 1px 1px;
	color:teal;
}
span {
	text-decoration: underline;
	font-weight: bold;
}
ul {
	list-style-type: circle;
}
.row{
	margin-top:100px;
	min-height: 50px;
	justify-content: space-between;
}
.show{
	background-color: antiquewhite;
	color:rgb(92, 198, 227);
}
